.title {
  margin-bottom: 0.5rem;
}

.blocks {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 0.25rem;
  .leftBlock,
  .rightBlock {
    position: relative;
    border: var(--app-border);
    padding: 1rem;
    width: 100%;
  }

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    .rightBlock {
      order: -1;
    }
  }
}
