.item {
  display: flex;
  width: 100%;
  max-width: 200px;
  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    color: var(--primary-color);
    font-size: 1.25rem;

    &.active {
      background-color: var(--primary-color);

      * {
        color: var(--background-color);
      }
    }
    .title {
      text-align: left;
    }
  }
}
