.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding-inline: 0.5rem;
  height: 100%;

  .title {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    @media (max-width: 420px) {
      gap: 0.25rem;
      padding-block: 0.5rem;
    }
    .link {
      display: flex;
      flex-direction: column;
      .text {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }
  .button {
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    padding: 0.25rem;
    &:last-of-type {
      transform: rotate(180deg);
    }
    svg {
      color: var(--background-color);
    }
  }
}
