.inputContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: calc(-12px + 0.5rem);
  max-width: 250px;

  &:has(.title) {
    padding-top: 1.25rem;
  }

  .asTextButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 0.75rem);
  }

  .input {
    transition: var(--transition-duration) background-color ease-in-out;
    border: var(--app-border);
    border-radius: 0.5rem;
    background-color: var(--background-color);
    padding: 0.5rem 0.75rem;
    resize: horizontal;

    color: var(--primary-color);
    font-weight: bold;
    white-space: prewrap;
    &.asText {
      border: var(--app-border);
      pointer-events: none;
    }
  }
  .title {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.15s all ease-in-out;
    background-color: var(--background-color);
    padding-inline: 0.3rem;

    overflow: hidden;
    color: var(--primary-color);
    font-weight: 600;
    white-space: nowrap;
    &[data-can-be-input-text='true']:has(~ .input.asText) {
      transform: translate(10px, 12px);
    }
  }
  .errorMessage {
    opacity: 0;
    font-size: 0.75rem;
  }
  &[data-error] {
    margin-bottom: 0.5rem;
    .title,
    .input,
    .errorMessage {
      opacity: 1;
      color: var(--error-color);
    }
    .input {
      border-color: var(--error-color);
    }
  }
}
